.Rproj.user
.Rhistory
.RData
.Ruserdata
#### joe made this: https://goel.io/joe

#####=== R ===#####

# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

.DS_Store
*.nb.html
.billings/
#### joe made this: https://goel.io/joe

#####=== Vim ===#####
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

EC2.csv
ElastiCache.csv
RDS.csv
